import(biovizBase, GenomicRanges, IRanges)
importFrom(affy,ReadAffy,rma,mas5calls)
importFrom(annotate,lookUp,getSYMBOL)
importFrom(Biobase,write.exprs,exprs,featureNames,sampleNames,rowMedians)
importFrom(ggplot2,ggplot,aes,qplot,coord_cartesian,xlab,ylab,theme)
importFrom(ggplot2,element_blank,geom_point,geom_smooth,geom_line,facet_grid)
importFrom(ggplot2,labs,ggplot_gtable,ggplot_build,guides,guide_legend)
importFrom(grid,unit.pmax)
importFrom(gridExtra,grid.arrange,arrangeGrob)
importFrom(ggbio,plotSingleChrom)
importFrom(tcltk,tktoplevel,tkscrollbar,tkyview,tklistbox,tkset,tkgrid)
importFrom(tcltk,tklabel,tkgrid.configure,tkinsert,tkcurselection,tkdestroy)
importFrom(tcltk,tkbutton,tkfocus)
export(ProcessCels,chromosomeStats,bandStats,armStats,fisher.method,cliSubset)
export(discontPlot,discontSmooth,facetPlot,guiSubset,rawPlot,slidPlot)
export(slidSmooth)